<div class="row">
  <div class="large-8 columns">
  <h1> decks! </h1>

	<ul class="large-block-grid-4 small-block-grid-2">
	  <li ng-repeat="deck in deckList" 
		  ng-click="imageDetail(deck)">
		<a>
		  <img src="data:image/png;base64,{{ deck.thumb }}"
			   alt="{{ deck.name }}"
			   />
		  <div>{{ deck.brand }} {{ deck.name }} </div>
		</a>
	  </li>
	</ul>
</div>

  <div class="large-4 columns">
	<div id="productInfo" ng-show="deckDetail" style="position: fixed; top: 10em;">
	  <img src="data:image/png;base64,{{ deckDetail.thumb }}"
		   alt=""
			 />
	  <div>{{ deckDetail.name }}</div>
	  <div>Width: {{ deckDetail.width }}</div>
	  <div>Wheelbase: {{ deckDetail.wb }}</div>
	  <div>Price: ${{ deckDetail.price }}</div>
	<button ng-click="addToCart(deckDetail)"> Add to cart </button>
	</div>
  </div>
